* {
  padding: 0;
  margin: 0;
  font-family:'abc_favoritbook';
  box-sizing: border-box;
  /* border: 1px solid red; */
}

@font-face {
  font-family: 'mosaic_sharp_semi_slabSBd';
  src: url('./fonts/mosaicsharpsemislab-semibold-webfont.woff2') format('woff2'),
       url('./fonts/mosaicsharpsemislab-semibold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}


@font-face {
  font-family: 'abc_favoritmedium';
  src: url('./fonts/abcfavorit-medium-webfont.woff2') format('woff2'),
       url('./fonts/abcfavorit-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'abc_favoritbold';
  src: url('./fonts/abcfavorit-bold-webfont.woff2') format('woff2'),
       url('./fonts/abcfavorit-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'abc_favoritbold_italic';
  src: url('./fonts/abcfavorit-bolditalic-webfont.woff2') format('woff2'),
       url('./fonts/abcfavorit-bolditalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'abc_favoritbook';
  src: url('./fonts/abcfavorit-book-webfont.woff2') format('woff2'),
       url('./fonts/abcfavorit-book-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'abc_favoritbook_italic';
  src: url('./fonts/abcfavorit-bookitalic-webfont.woff2') format('woff2'),
       url('./fonts/abcfavorit-bookitalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

#real-data {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

.App {
  border: 1px solid black;
  width: 429px;
  /* width: 1000px; */
  height: 680px;
  margin: auto;
  margin-top: 20px;
  overflow: scroll;
  background-color: white;
  /* font-family: 'ABC Favorit'; */
}

.App-header {
  display: flex;
  /* align-items: flex-start; */
  align-items: center;
  padding: 15px;
}
#date {
  font-size: 14px;
  color: #8B97A4;
}

#greeting {
  margin: 16px 0 26px 16px;
  font-size: 28px;
  font-weight: bold;
  font-family:'mosaic_sharp_semi_slabSBd'
  /* border: 1px solid red; */
  /* font-family:'Mosaic Sharp Semi Slab' ; */
}

.notifs {
  margin: 18px 18px 32px;
  background-color: white; 
  /* border-radius: 15px;  */
  /* box-shadow:black; */
  
}

#notif-header {
  padding: 10px 32px;
  background-color: #FBF9F6;
  /* border-radius: 15px 15px 0 0; */
  color: #27364F;
  font-weight:bold;
  font-size: 20px;
}

.notif-item {
  padding: 16px;
  display: flex;
  align-items: center;
  /* justify-content: center; */
}
.notif-item-text {
  padding-left: 17px;
  flex: 1;
}

.notif-item > .bullet {
  background-color: #FF2D55;
  padding: 7px;
  border-radius: 50%;
  height:0;
  width: 0;
}
.notif-name {
  font-size: 16px;
  color: #04203E;
  font-weight: bold;
}
.notif-loc, .notif-details{
  color: #8A96A3;
  font-size: 14px;
}

#punch-item-button{
  font-size: 14px;
}

.report-header > .divider{
  height: 2px;
}
.report-header-title {
  padding: 10px 20px;
  font-size: 20px;
  color: #04203E;
  font-weight: 700;
}

.upp-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position:relative;
}
.punch-item-box {
  margin: 8px 18px;
  background-color: #FBF9F6; 
}
/* #punch-item-button {
  height:4px;
  width:4px;
} */
#circle-progress {
  padding: 20px;
  color: #27364F;
  border-radius: 10px;
}
.inner-progress-text {
  position: absolute;
  /* top:50px; */
  /* right: 50px; */
  display:flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  top: 100px;
  width: 100%;
  /* text-align: center; */

}

#countdown-text {
  font-size: 32px;
  color: #FC1E68;
  font-weight: 600;
}

#countdown-helper {
  color: #747F8F;
  font-size: 12px;
}

.punch-items-text {
  /* text-align:start; */
  color: #04203E;
  font-weight: 700;
  font-size: 16px;
  padding-left:18px;
}

#schedule-title {
  padding: 0 18px;
  color: #04203E;
  font-weight: 700;
  font-size: 16px;
}

.punch-items-wrapper {
  padding: 10px 0 30px;
}

.work-tabs {
  background-color: #FBF9F6;
}

.tab {
  color: #8D95A2;
  font-weight: 333;
  font-size: 6px;
}
.wov-tag {
  position: absolute;
  left: 130px;
}
.wov-button-wrapper {
  display: flex;
  padding: 8px 0;
  width: 100%;
  align-items: center;
  position: relative;
  color: #27364F;
}
.wov-button-loc {
  /* padding: 0 0 0 50px; */
  /* align-self: flex-end; */
  position:absolute;
  left: 240px;
}
.wov-button-id {
  /* padding: 0 50px 0 0; */
  /* position: absolute */
}
.wov-panel-wrapper, .mt-panel-wrapper {
  display: flex;
  font-size: 14px;
  color: #3E4C63;
  font-weight:333;
  /* border: 1px solid red; */
  padding: 5px;
  /* background-color: #F2F0ED; */
}
.wov-panel-names, .wov-panel-info {
  font-weight: 700;
}
.wov-panel-names > p, .wov-panel-info > p {
  padding: 3px 16px 0 0;
}

.lineitem {
  font-weight: 333;
}

.mt-panel-wrapper {
  color: #27364F;
  display: flex;
  font-size: 14px;
  font-weight:333;
  padding: 5px;
}
#title {
  font-weight: 571;
}

#title, #item, #code{
  flex: 1;
}

.start-letter-link {
  position: absolute;
  left: 370px;
}

.start-letter-wrapper {
  background-color: #FBF9F6;
  padding: 17px;
  display: flex;
  font-size: 14px;
  align-items: center;
  position: relative;
  border-bottom: 1px solid #DBDDE1;
}
#start-letter-loc {
  color: #3E4C63;
  position: absolute;
}

#start-letter-date {
  color: #8D95A2;
  position: absolute;
  left: 180px;
  /* flex: 1;
  padding: 0 0 0 40px; */
}

.mt-button-date {
  /* padding: 0 30px; */
  position: absolute;
  left: 50px;
}
.mt-button-info {
  position: absolute;
  left: 170px;
}

.reward-item-wrapper {
  display: flex;
  padding: 15px 20px;

}
.reward-item-text {
  color: #3E4C63;
  flex:1
}
#name {
  font-weight: 571;
  padding-bottom: 10px;
}
#fulfill {
  font-weight: 333;
}
.img-wrapper {
  flex:1;
}

.claim-label {
  font-size: 14px;
  font-weight: 333;
  padding: 5px 3px 5px 0;
}

.check-icon {
  margin-left: 2px;
}

.rewards-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#rewards-description {
  color: #27364F;
  font-weight:700;
  font-size: 16px;
  text-align: center;
}

.punch-items-remaining-wrapper {
  border: 3px solid #DBDDE1;
  display: flex;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

#remaining-number {
  font-weight: 700;
  font-size: 32px;
  color: #27364F;
  padding: 0 10px;
}

#remaining-text {
  font-weight: 400;
  font-size: 20px;
  color: #747F8F;
  padding: 0 10px 0 0;
}

#schedule-wrapper {
  /* margin: 18px; */
  /* padding-top: 10px; */
  padding: 20px 0px 10px 30px;
  display: flex;
  flex-direction: row;
  /* height: 300px; */
}

#timeline-line {
  width: 1px;
  background-color: #8D95A2;
  height: calc(100% - 20px);
  /* height: 100%; */
  margin: 10px 0 0 0;
}

.timeline-wrapper {
  flex: 1;
  /* width: 100px; */
}

.timeline-node {
  display:flex;
  align-items: center;
  position:relative;
  right: 7px;
}
.timeline-bullet {
  padding: 7px;
  border-radius: 50%;
  height:10px;
  width: 10px;
  background-color: #27364F;
}


.timeline-node-text {
  padding-left: 17px;
  font-size: 14px;
  font-weight: 350;
  color: #27364F;
}

.timeline-item-name {
  color: #04203E;
  font-weight: 700;
  font-size: 16px;
}

.timeline-item-details {
  display: flex;
  align-items: center;
  color: #8D95A2;
  font-weight: 350;
  font-size: 14px;
}
.timeline-item-loc{
  flex: 1;
}

.subdivider {
  background-color: #DBDDE1;
  height: 1px;
  margin:  0 18px 0 18px;
}
.divider {
  background-color: #DBDDE1;
  height:1px;
}
